{
  "extends": ["cratebind"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "react/jsx-filename-extension": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      },
      "babel-module": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
}